<h1>Gustavo Castro</h1>
<p><i>gustavocsalvador@gmail.com</i> </p>
<p><i>gustavo.castro.salvador@grad.ufsc.br</i> </p>
<p>Information Systems bachelor student at Federal University of Santa Catarina. Currently working as Quality Assurance Analyst @ Linx, the largest software house in retail management systems in Latin America. I love:</p>
<ul>
  <li>nature (mostly plants/the sky/the ocean);</li>
  <li>skating/biking (wish I had more free time);</li>
  <li>visual arts (into neo-expressionism and web animations/graphics).</li>
</ul>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/g1stavo">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/gustavocsalvador/">LinkedIn</a>
  </li>
</ul>

