<h1>Gustavo Castro</h1>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/g1stavo">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/gustavocsalvador/">LinkedIn</a>
  </li>
</ul>

<p>Information Systems bachelor student at Federal University of Santa Catarina. Currently working as Quality Assurance Analyst @ Linx, the largest software house in retail management systems in Latin America.</p>
<p><i>gustavocsalvador@gmail.com</i></p>
<p><i>gustavo.castro.salvador@grad.ufsc.br</i></p>

